<!doctype html>
<html>

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PN39N8V"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ partial "v2/header-skip-link.html" . }}
    {{ partial "v2/header.html" (dict "headerTheme" "dark" ) }}

    <div class="pad50 list">
        <div class="text-col">
            {{ .Content }}
        </div>
    </div>

    {{ partial "v2/footer.html" .}}
    {{ partial "v2/footer-skip-link.html" . }}
</body>

</html>
