.community-action-section {
  padding-top: 13px;
  padding-right: unquote("max(10px, env(safe-area-inset-right))");
  padding-bottom: 13px;
  padding-left: unquote("max(10px, env(safe-area-inset-left))");
}

.community-action-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-button {
  width: 100%;
  height: 103px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
  background-color: $action-button-color;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.action-button__content {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.action-button__image-container {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.action-button__text {
  font-style: normal;
  color: $light-text-color;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: $action-buttons-breakpoint) {
  .community-action-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .action-button {
    margin-left: 5px;
    margin-right: 5px;
    width: 224px;
    height: 188px;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }

  .action-button__content {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }

  .action-button__image-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .action-button__text {
    margin-top: 12px;
  }
}
