/* docs */
.docs {
    display: block;
    background: $light-background-color;

    @media (min-width: $header-hamburger-breakpoint) {
        display: flex;
    }
}

/* docs nav */
.docs-sidebar {
    width: 100%;
    padding-left: 34px;
    padding-top: 28px;
    background: $dark-background-color;
    
    @media (min-width: $header-hamburger-breakpoint) {
        width: 380px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 20px;
    }
}

.algolia-autocomplete__search-bar {
    width: 220px;
    height: 45px;
    padding-left: 40px;
    border: 2px solid $light-background-color;
    border-radius: 8px;
    background-image: url('/v2/images/icon-search.svg');
    background-position: 5px 6px;
    background-repeat: no-repeat;
    font-family: $default-font-family;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

    @media (min-width: $mobile-breakpoint) {
        width: 305px;
    }
}

.algolia-autocomplete__search-bar:focus, .algolia-autocomplete__search-bar:focus {
    outline: none;
    border-color: $link-text-dark-background-color;
}

.algolia-autocomplete .ds-dropdown-menu {
    width: 80vw;
    min-width: 256px !important; // Necessary because algolia element comes with styling
}

.docs-menu {
    padding-top: 30px;
    padding-bottom: 50px;
}

.docs-menu__title {
	color: $light-text-color;
	line-height: 3em;
}

.docs-menu__top-level-list {
    padding: 0;
    list-style: none;
    position: relative;
    padding: 0;
}

.docs-menu__item {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: 500;
    }
}

.docs-menu__parent {
    list-style: inherit;
    position: relative;
    padding: 0px;
    padding-right: 5px;
}

.docs-menu__children-list {
    display: none;
    list-style: inherit;
    padding-left: 20px;
	position: relative;
}

.docs-menu__children-list--opened {
    display: block;
}

.docs-menu__leaf {
    list-style: inherit;
    position: relative;
    padding: 0;
    padding-right: 5px;
}

.docs-menu__section-header {
    cursor: default;
    display: flex;
    align-items: center;
    position: relative;
    margin: 5px 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    opacity: 1;
    color: $light-text-color;
}

.docs-menu__expander-button {
    position: absolute;
    right: 20px;

    @media (min-width: $header-hamburger-breakpoint) {
        right: 0px;
    }
}

.expander-button {
    width: 37px;
    height: 34px;
    background-color: $docs-expander-button-color;
    border-radius: 8px;
    padding: 0px;
    border-style: none;
}

.expander-button:hover {
    opacity: .8;
}

.expander-button--opened, .expander-button--opened:hover {
    opacity: .6;
}

.expander-button__triangle--opened {
    transform: rotate(180deg);
}

.docs-menu__link {
    display: inline-block;
    position: relative;
    margin: 5px 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    opacity: 1;
    color: $light-text-color;
}

.docs-menu__link--active {
	color: $dark-text-color;
    background: $light-background-color;
    border-radius: 10px;
}

.docs-menu__link:hover {
	color: $link-text-dark-background-color;
    opacity: 100%;
}

.docs-menu__link--active:hover {
    color: $link-text-color;
}

@media (min-width: $header-hamburger-breakpoint) {
    .docs-menu {
		padding-bottom: 0px;
	}

	.docs-menu a {
        display: block;
    }

    .docs-menu a.active {
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

/* docs body */
.docs-body {
    width: 100%;
    position: relative;
    padding-left: 31px;
    padding-right: unquote('max(40px, env(safe-area-inset-right))');
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: $header-hamburger-breakpoint) {
        width: calc(100% - 380px);
        display: flex;
        flex-direction: row;
    }

    @media (min-width: $mobile-breakpoint) {
        font-weight: normal;
        font-size: 17px;
    }
}

.docs-body__container {
    max-width: 1000px;
	overflow: auto;
}

.docs-body__markdown {
    margin-top: 60px;
}

.docs-body h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 30px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        margin-bottom: 53px;
    }
}

.docs-body h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
    }
}

.docs-body h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
    }
}

.docs-body h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: bold;
        font-size: 16px;
        line-height: 27px;
    }
}

/* table of contents */
.docs-body__table-of-contents-container {
    color: $dark-text-color;
    font-size: 17px;
    line-height: 24px;
    text-decoration-line: underline;
}

.docs-body__table-of-contents-container ul {
    list-style: none;
    padding: 0px;               // don't indent h2 headers
}

.docs-body__table-of-contents-container ul li ul { // indent h3 subheaders
       padding: 0 1em;
   }

.docs-body__table-of-contents-container--desktop {
    display: none
}

@media(min-width: $table-of-contents-breakpoint) {

    .docs-body__table-of-contents-container {
        padding-top: 40px;
        padding-left: 48px;
        max-width: 600px;
        min-width: 350px;
    }

    .docs-body__table-of-contents-container--mobile {
        display: none;
    }

    .docs-body__table-of-contents-container--desktop {
        display: block;
    }
}

/* github redirect */

.github-edit {
    display: none;

    margin-top: 16px;
	border: 1px solid $dark-background-color;
	border-radius: 5px;
	background: $light-background-color;
	width: 75px;
	float: right;

    @media (min-width: $mobile-breakpoint) {
        display: block;
    }
}

.github-edit:hover {
	opacity: 0.8 !important;
	border: 1px solid #4a516d;
	background: white;
	color: #4a516d;
}

.github-edit__content {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 8px 0px;
}

.github-edit__logo-container {
	border: none;
	width: 30%;
	margin-left: 5px;
	margin-right: 5px;
}

.github-edit__text {
	margin-right: 10px;
	font-size: 12px;
}

/* copyable code blocks */
.copyable {	
    position: relative;
	display: block;
	background-color: $light-background-color;
	padding: 0.35em 0.6em;
	border: 1px solid #E4E4E4;
	overflow: auto;
}

.copyable__code {
    font-family: monospace;
}

.copyable__clipboard {
    display: block;
	position: absolute;
	top: 2px;
	right: 2px;
    background: #FFF;
	cursor: pointer;
	border: none;
}

.copyable:hover .copyable__clipboard {
    display: block;
}

.copyable--clicked .copyable__clipboard {
    display: none;
}

.copyable--clicked:hover .copyable__clipboard {
    display: none;
}

.copyable__copied {
    visibility: hidden;
	position: absolute;
	top: 2px;
	right: 2px;
    background-color: $light-background-color;
    opacity: 100;
    font-family: $default-font-family;
}

.copyable--clicked .copyable__clipboard {
    display: none;
}

.copyable--clicked:hover .copyable__clipboard {
    display: none;
}

.copyable--clicked .copyable__copied {
    visibility: visible;
	opacity: 0;
	transition: visibility 0s, opacity 1s ease-in-out 1s;
}

@media (min-width: $mobile-breakpoint) {
    .copyable__clipboard {
        display: none;
        position: absolute;
        top: 2px;
        right: 2px;
        background: #FFF;
        cursor: pointer;
        border: none;
    }

    .copyable:hover .copyable__clipboard {
        display: block;
    }

    .copyable__copied {
        visibility: hidden;
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: $light-background-color;
        opacity: 100;
        font-family: $default-font-family;
    }

    .copyable--clicked .copyable__copied {
        visibility: visible;
        opacity: 0;
        transition: visibility 0s, opacity 1s ease-in-out 1s;
    }

}

/* view output expander */

.code-output__btn {
    width: 80px;
    background: $docs-output-expander-color; // TODO: Check contrast
	text-transform: uppercase;
	font-size: 0.6em;
	margin-top: 10px;
    padding: 3px;
	text-align: center;
}

.code-output__btn:hover {
    cursor: pointer;
}

.code-output__output-container {
    display: none;
    background: $docs-output-expander-color;
    width: 100%;
    overflow: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.code-output__output {
    color: $dark-text-color;
}

.code-output--opened {

    .code-output__output-container {
        display: block;
        
    }
}

/* bits and bobs */
.docs img {
	display: block;
	margin: 0 auto;
	border: 1px solid #E4E4E4;
}

.docs-mod-time {
	padding-left: 50px;
    font-style: italic;
    padding: 0px;
}

.markup-heading__link {
    text-decoration: none;
}