/* footer */

.footer {
    background: $dark-background-color;
    padding-left: 28px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $mobile-breakpoint-footer) {
        flex-direction: row-reverse;
        align-items: center;
    }
}

.footer-social-links-container {
    display: flex;
    flex-direction: column;

    @media (min-width: $mobile-breakpoint-footer) {
        flex-direction: row;
        align-items: center;
    }
}

.footer-social-link {
    font-family: Metropolis, sans-serif;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;

    @media (min-width: $mobile-breakpoint-footer) {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
    }
}

.footer-social-link__image-container{
    width: 70px;
    margin-left: 10px;
    margin-right: 12px;

    @media(min-width: $mobile-breakpoint-footer) {
        width: 50px;
    }
}

.footer-social-link__image-container__image {
    width: 100%;
}

.footer-text--small {
    font-family: Metropolis, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 100;
}

.footer-privacy-policy {
    display: flex;
    flex-direction: column;
}

.cloudfoundry-logo {
    width: 160px;
    margin: 13px; /* must be >=8% of width to follow branding guidelines*/
    margin-left: 0px;
}