/* layout */

.homepage-content {
  display: flex;
  flex-direction: column;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;

  @media (min-width: $mobile-breakpoint) {
    min-width: 450px;
  }
}

/* layout helpers */

.center-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100pct {
  width: 100%;
}

.height-100pct {
  height: 100%;
}

.margin-bottom70 {
  margin-bottom: 70px;
}

/* homepage-sections */

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.languages__item {
  margin: 10px;
}

.languages__logo {
  height: 35px;
}

.languages__logo--java {
  height: 80px;
  margin-left: 12px;
  margin-right: 12px;
}

.languages__logo--graalvm {
  height: 25px;
}

.languages__logo--go {
  height: 56px;
}

.languages__logo--nginx {
  height: 45px;
}

.languages__logo--php {
  height: 45px;
}

.languages__logo--httpd {
  height: 66px;
  margin-left: 20px;
  margin-right: 20px;
}

.feature {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.feature__tagline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.feature__tagline__icon-container {
  width: 60px;
  height: 60px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

/* content style */
.font--default {
  font-family: "Avenir Next", sans-serif;
}

.paragraph {
  margin-bottom: 32px;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  @media (min-width: $mobile-breakpoint) {
    font-size: 24px;
    line-height: 33px;
  }
}

.button {
  display: flex;
  background: $homepage-button-gradient;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-decoration: none;
  height: 70px;
  width: 272px;
  justify-content: center;
  align-items: center;
}

a:hover {
  opacity: 0.8;
}

.list--disc {
  padding-left: 25px;
  list-style-type: disc;
}

.list__element {
  margin-bottom: 10px;
}

.what-are-buildpacks-element {
  margin-bottom: 70px;
}

.what-are-buildpacks-element__equation {
  margin-top: 10px;
  width: 100%;

  @media (min-width: $mobile-breakpoint) {
    max-width: 400px;
  }
}

.what-are-buildpacks-element__imageset {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 18px;
}

.what-are-buildpacks-element__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  margin: 2%;
}

.what-are-buildpacks-element__image--smaller {
  width: 14%;
}

.background-layers {
  pointer-events: none;
  align-self: flex-end;
  height: 1px;
  margin-right: -20px;

  @media (min-width: $mobile-breakpoint) {
    align-self: flex-end;
    width: 60%;
    margin-top: -50px;
    height: 50px;
  }
}

.background-layers__image {
  width: 200px;
  height: 347px;

  @media (min-width: $mobile-breakpoint) {
    width: 100%;
    height: auto;
    max-width: 750px;
  }
}

.how-it-works-animation {
  width: 100%;
}
.how-it-works-animation__animation {
  padding-bottom: 21px;
}

.background-large-p {
  pointer-events: none;
  align-self: center;
  height: 1px;
  margin-left: -30px;
  margin-right: -30px;

  @media (min-width: $mobile-breakpoint) {
    margin-top: -20px;
    height: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-left: 50%;
  }
}

.background-large-p__image {
  width: 100%;
  height: auto;
  max-width: 545px;
}
