.logo-slack {
    width: 100%;
    height: auto;
}

.logo-slack__image {
    width: 100%;
}

.logo-twitter {
    height: 100%;
}

.logo-twitter__image {
    height: 100%;
}

.logo-github {
    width: 116%;
    margin-left: -8%;
    margin-right: -8%;
}

.logo-github__image {
    height: 100%;
}

.icon-pr {
    height: 100%;
    display: flex;
    justify-content: center;
}

.icon-pr__image {
    height: 100%;
}
