@import 'common/reset';
@import 'v2/variables';
@import 'v2/text';
@import 'v2/header.scss';
@import 'v2/nav';
@import 'v2/homepage';
@import 'v2/sections';
@import 'v2/footer';
@import 'v2/docs';

@media (prefers-reduced-motion) {
    .nav {
        transition: none;
    }

    .nav-opener__bar {
        transition: none;
    }

    .how-it-works-animation {
        display: none;
    }
}
