@import "common/reset";
@import "variables"; // Needs to be before imports that use these variables
@import "plugins/docsearch";

@import "docs";
@import "footer";
@import "header";
@import "homepage";
@import "icons";
@import "nav";
@import "sections";
@import "shame";
@import "text";
@import "community";
@import "resources";

@media (prefers-reduced-motion) {
  .nav {
    transition: none;
  }

  .nav-opener__bar {
    transition: none;
  }

  .how-it-works-animation {
    display: none;
  }
}
