/* CSS reset.  Why?  Because browser makers make the www difficult to style. Enough with that. */

@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select {
	vertical-align: middle;
}
/* End the Reset.  Let the games begin. */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #F0F2F9;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 500;
	font-size: 22px;
	line-height: 33px;
	color: #4A516D;
}
a, a:before {
	text-decoration: none;
	color: #293878;
	outline: none;
	transition: all 0.3s ease;
	font-weight: 600;
}
a:hover {
	color: #F7CA44;
}
img {
	height: auto;
	max-width: 100%;
}
p {
	font-size: 1.2rem;
	line-height: 1.5em;
	padding: 0.7em 0;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	color: #343433;
	-webkit-font-smoothing: subpixel-antialiased;
	letter-spacing: -0.025em;
}
h1 {
	font-size: 3.2rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 600;
	padding-top: 20px;
}
h3 {
	font-size: 1.4rem;
	padding-top: 20px;
}
h4 {
	font-size: 1.2rem;
	padding-top: 20px;
}
ul {
	list-style: disc;
	padding: 0 2em;
}
ol {
	padding: 0 2em;
}
li {
	padding: 5px 0;
}
ol li {
	list-style: decimal;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
code {
	font-family: monospace;
	color: #378BAF;
	font-size: 1.2rem;
	line-height: 1.5em;
}
td {
	border:  1px solid #DDD;
	background: white;
	padding: 10px;
}
th {
	border:  1px solid #DDD;
	background: white;
	padding: 10px;
	word-break: break-word;
}
tr {
	text-align: center;
}
table {
	table-layout: fixed;
	width: 100%;
}
/* easy rwd by www.traverstodd.com */

.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}
.no-overflow {
	overflow: hidden;
}
.transparent {
	opacity: 0.0;
}
.opaque {
	opacity: 1.0;
}
/* micro clearfix below. contains floats like .clearfix. */

.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
/* need to clear floats instead of contain them? use this below. */

.clear, .clear-both {
	clear: both;
}
/* need to float things? we got you covered. */

.left, .floatleft {
	float: left !important;
}
.right, .floatright {
	float: right !important;
}
/* these are for images, below. gives a nice margin. sweet. */

.alignright {
	float: right;
	margin: 0 0 15px 15px;
}
.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}
.floatnone {
	float: none;
}
/* need a middle-aligned header. don't write another CSS rule. just use these! */

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
/* need to add z-index?  Us these class? */

.z0 {
	z-index: 0;
}
.z1 {
	z-index: 1;
}
.z2 {
	z-index: 2;
}
.z3 {
	z-index: 3;
}
.z4 {
	z-index: 4;
}
.z5 {
	z-index: 5;
}
/* For a little extra reassurance */

.z99 {
	z-index: 99;
}
/* magic. many combinations exists with simplicity. */

.float20 {
	float: left;
	width: 20%;
}
.float25 {
	float: left;
	width: 25%;
}
.float33 {
	float: left;
	width: 33%;
}
.float50 {
	float: left;
	width: 50%;
}
.float66 {
	float: left;
	width: 66%;
}
.float75 {
	float: left;
	width: 75%;
}
.float80 {
	float: left;
	width: 80%;
}
.flex {
	display: flex;
}
.inline-block {
	display: inline-block;
}
.inline25 {
	display: inline-block;
	width: 25%;
	margin-right: -4px;
}
.inline33 {
	display: inline-block;
	width: 33.3333%;
	margin-right: -4px;
}
.inline50 {
	display: inline-block;
	width: 50%;
	margin-right: -4px;
}
.inline66 {
	display: inline-block;
	width: 66.6666%;
	margin-right: -4px;
}
/* structure  */

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.pad50 {
	padding: 50px;
}
.pad-right {
	padding-right: 4em;
}
.pad-top-100 {
	padding-top: 100px;
}
.pad-btm-100 {
	padding-bottom: 100px;
}
.text-col {
	max-width: 1000px;
}
.inner {
	max-width: 1140px;
	margin: 0 auto;
}
/* decorators */

.bg-white {
	background: #FEFEFE;
}
.external-link:before {
	display: none;
}
/* header */

header {
	padding: 20px 50px;
	position: relative;
	z-index: 4;
}
.logo img {
	max-width: 260px;
}
nav a, .cta, .docs-body a {
	position: relative;
	padding: 0 4px;
	z-index: 1;
	display: inline-block;
	line-height: 1em;
}
nav a {
	margin-left: 20px;
}
nav a svg {
	max-height: 20px;
	float: left;
	padding-right: 5px;
	width: 24px;
}
nav a svg path {
	fill: white;
}
nav a:before, .cta:before, .docs-body a:before {
	content: "";
	position: absolute;
	bottom: -0.02em;
	height: 0.1em;
	left: 0;
	width: 100%;
	background: #F8D15C;
	z-index: -1;
}
nav a:hover:before, .cta:hover:before, .docs-body a:hover:before {
	height: 100%;
	bottom: 0;
}
.external-link {
	background: #293878;
	color: white;
	padding: 8px 16px;
	border-radius: 4px;
}
.external-link:hover {
	background: #489ebc;
	color: white;
}
.nav-opener {
	position: fixed;
	backface-visibility: hidden;
	top: 40px;
	right: 40px;
	font-size: 1.2em;
	width: 29px;
	height: 20px;
	cursor: pointer;
	z-index: 8;
}
.nav-opener span {
	border-top: 3px solid #293878;
	width: 100%;
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	transition: all 0.2s ease;
}
.nav-opener:hover span {
	border-color: #f8d15c;
}
.nav-opener .top, .nav-opener .bottom {
	transform-origin: left
}
.nav-opener .top {
	top: 0;
}
.nav-opener.opened .top {
	transform: rotate(45deg);
}
.nav-opener .bottom {
	top: 20px;
}
.nav-opener.opened .bottom {
	transform: rotate(-45deg);
}
.nav-opener.opened .middle {
	width: 0;
	left: 8px;
}
/* hero */

.hero {
	padding: 50px 50px 30px 50px;
}
.hero .cta {
	font-size: 2rem;
}
.hero .text-col {
	max-width: 66.666vw;
}
.hero .builders .logos {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	align-items: center;
}
.hero .builders .logos img {
	max-height: 90px;
	margin: 0 auto;
	max-width: 140px;
	opacity: 0.2;
}
.hero .builders.full .logos img.full {
	opacity: 1;
}
.hero .builders.base .logos img.base {
	opacity: 1;
}
.hero .builders.tiny .logos img.tiny {
	opacity: 1;
}
.hero .builders .tabs {
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
}
.hero .builders .tabs .tab {
	position: relative;
	bottom: -1px;
	background: #EAEAEA;
	float: left;
	margin-right: 10px;
	padding: 10px 30px 10px 30px;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-radius: 7px 7px 0 0;
}
.hero .builders.full .tabs .tab.full {
	border-bottom: 1px solid #F2F2F2;
	background: transparent;
}
.hero .builders.base .tabs .tab.base {
	border-bottom: 1px solid #F2F2F2;
	background: transparent;
}
.hero .builders.tiny .tabs .tab.tiny {
	border-bottom: 1px solid #F2F2F2;
	background: transparent;
}
.hero .builders .commands {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #DDD;
}
.hero .builders .commands .command {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	background: #EAEAEA;
	border: 1px solid #DDD;
}
.hero .builders .commands .command img.clipboard {
	padding: 5px;
	cursor: pointer;
}
.hero .builders .commands .command code {
	padding: 5px 10px;
	border-left: 1px solid #DDD;
	display: none;
}
.hero .builders.full .commands .command code.full {
	display: block;
}
.hero .builders.base .commands .command code.base {
	display: block;
}
.hero .builders.tiny .commands .command code.tiny {
	display: block;
}

.hero-logo img {max-height: 90px;margin: 0 auto 20px;max-width: 140px;}

/* why-paketo-blocks */

.paketo-merits {
	display: flex;
	flex-direction: column;
}
.paketo-merit {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}
.paketo-merit.reverse {
	flex-direction: row-reverse;
}
.paketo-merit .image {
	display: flex;
	justify-content: space-evenly;
	width: 33%;
}
.paketo-merit .image img {
	max-height: 200px;
}
.paketo-merit .text {
	width: 66%;
	padding-left: 20px;
}
.paketo-block {
	max-width: 300px;
	opacity: 0.0;
	transition: all .7s ease;
}
.joined .paketo-block {
	transform: translateY(0) !important;
	opacity: 1.0;
}
.paketo-block.top {
	transform: translateY(-100px);
	transition-delay: 0.4s;
}
.paketo-block.mid {
	top: 175px;
	transform: translateY(-50px);
	transition-delay: 0.2s;
}
.paketo-block.btm {
	width: 170px;
	top: 350px;
}
/* get-started */

.icon {
	width: 120px;
	margin: 0 10px;
}
.get-started a {
	display: inline-block;
}
/* footer */

footer a {
	color: white;
}
footer nav {
	float: right;
}
footer nav a svg path {
	fill: white;
}
footer p {
	color: rgba(255, 255, 255, 0.5);
	margin: 10px 0;
	font-size: 14px;
}
.pre-footer {
	border-top: 1px solid #ccc;
}
.pre-footer p {
	margin-bottom: 0;
	font-size: 1rem;
}
.footer-logo {
	max-width: 200px;
}

/* docs */
.docs {
	min-height: 70vh;
}
.docs img {
  display: block;
  margin: 0 auto;
	border: 1px solid #E4E4E4;
}
.docs-sidebar {
	width: 380px;
	border-right: 1px solid #ccc;
}
.docs-body {
	width: calc(100% - 380px);
}
.docs-lastmod {
	padding-left: 50px;
	font-style: italic;
}
.docs-sidebar {
	padding-top: 50px;
	padding-left: 50px;
}
.docs-menu ul {
	padding: 0;
}
.docs-menu li {
	list-style: none;
	position: relative;
	padding: 0;
}
.docs-menu ul.sub-menu {
	padding-left: 20px;
	position: relative;
}
.docs-menu a {
	display: block;
	position: relative;
	margin: 5px 0;
	padding: 5px;
}
.docs-menu a.active {
	color: black;
	padding-left: 15px;
}
.docs-menu a:before {
	content: "";
	transition: all 0.3s cubic-bezier(.17, .84, .44, 1);
	position: absolute;
	background: #F0F2F9;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 1px;
	top: 0;
	right: -1px;
	height: 100%;
	z-index: -1;
}
.docs-menu a.active:before, .docs-menu a:hover:before {
	width: 100%;
}
.docs pre {
	position: relative;
	display: block;
	background-color: #FEFEFE;
	font-family: monospace;
	padding: 0.35em 0.6em;
	border: 1px solid #E4E4E4;
	overflow: auto;
	overflow-wrap: break-word;
}
.docs pre img {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
  background: #FFF;
  cursor: pointer;
  border: none;
}
.docs pre:hover img {
  display: block;
}
.docs pre.copied img {
  display: none;
}
.docs pre .copied {
  visibility: hidden;
  position: absolute;
  top: 2px;
  right: 2px;
  opacity: 1;
}
.docs pre.copied .copied {
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity 1s ease-in-out 1s;
}
.docs .code-output pre {
  display: none;
  background: #E4E4E4;
}
.docs .code-output.visible pre {
  display: block;
}
.docs .code-output pre code {
  color: #585858;
}
.docs .code-output .btn {
  background: #E4E4E4;
  text-transform: uppercase;
  font-size: 0.6em;
  display: block;
  margin-top: 3px;
  padding: 0 5px;
  float: left;
  text-align: center;
}
.docs .code-output .btn:before {
  display: inline-block;
  width: 35px;
  content: 'View ';
}
.docs .code-output.visible .btn:before {
  content: 'Hide ';
}

/* footer */
footer {
	background: #384a9a;
	padding: 20px 50px;
	color: #ccc
}
@media (max-width: 1000px) {
	.half-1000 {
		width: 50%;
	}
	.full-1000 {
		width: 100%;
		float: none;
		display: block;
	}
	.no-flex-1000 {
		display: inherit;
	}
	.nav-opener {
		display: block;
	}
	header nav {
		background: #fff;
		width: 250px;
		height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		padding-top: 80px;
		box-shadow: 0 0 42px rgba(0, 0, 0, 0.1);
		transform: translateX(100%);
		transition: transform 0.3s cubic-bezier(.22, .61, .36, 1);
	}
	header nav.showing {
		display: block;
		transform: translateX(0%);
	}
	header nav .upper-nav {
		float: none !important;
	}
	header nav a {
		display: block;
		padding: 10px;
		margin-bottom: 10px;
		margin-right: 20px;
	}
	.paketo-merits {
		column-count: 1;
	}
	.paketo-block {
		width: 33vw;
	}
	.paketo-block.mid {
		top: 19.2vw;
	}
	.paketo-block.btm {
		top: 38.5vw;
		width: 19vw;
	}
}
@media (max-width: 800px) {
	.hero .builders .logos {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.half-800 {
		width: 50%;
	}
	.full-800 {
		width: 100%;
		float: none;
		display: block;
	}
	.no-flex-800 {
		display: inherit;
	}
	h2 {
		margin-bottom: 1em;
	}
	.what-are .text-col {
		padding-bottom: 40px;
	}
	.paketo-blocks {
		height: 65vw;
	}
	.logo img {
		width: 50vw;
	}
	.pad-right {
		padding-right: 1em;
	}
	.docs-sidebar,
	.docs-body {
		width: 100%;
	}
	.docs-menu {
		padding-bottom: 50px;
	}
	.docs-menu a {
		display: inline-block;
	}
	.docs-menu a:before {
		display: none;
	}
	.docs-menu a.active {
		background: #F0F2F9;
		border: 1px solid #ccc;
		padding-right: 15px;
	}
}
@media (max-width: 600px) {
	.half-600 {
		width: 50%;
	}
	.full-600 {
		width: 100%;
		float: none;
		display: block;
	}
	.no-flex-600 {
		display: inherit;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 1.8rem;
	}
	.hero .cta {
		font-size: 1.2rem;
	}
	.pre-footer .text-right {
		text-align: center;
	}
	.pre-footer .footer-logo,
	.pre-footer p {
		float: none !important;
	}
	footer a {
		display: block;
		padding: 10px;
		margin-bottom: 10px;
		margin-right: 20px;
	}
	footer nav,
	footer .upper-nav {
		float: none !important;
	}
}
@media (max-width: 500px) {
	.hero .builders .tabs .tab {
		padding: 5px 15px 5px 15px;
		margin-right: 5px;
		border-radius: 3px 3px 0 0;
	}
	.clipboard {
		display: none;
	}
	.half-500 {
		width: 50%;
	}
	.full-500 {
		width: 100%;
		float: none;
		display: block;
	}
	.no-flex-500 {
		display: inherit;
	}
	.hero-logo img {
		max-width: 25vw;
	}
  .docs pre:hover img {
    display: none;
  }
}
@media (max-width: 400px) {
	.half-400 {
		width: 50%;
	}
	.full-400 {
		width: 100%;
		float: none;
		display: block;
	}
	.no-flex-400 {
		display: inherit;
	}
}
