body {
	background: $light-background-color;
	font-family: "Avenir Next", sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.5em;
	color: $dark-text-color;
}
img {
	height: auto;
	max-width: 100%;
}
p {
	padding: 0.7em 0;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
	color: $dark-text-color;
	-webkit-font-smoothing: subpixel-antialiased;
	letter-spacing: -0.025em;
}
h1 {
	font-size: 3rem;
	font-weight: 600;
}
h2 {
	font-size: 2.5rem;
	font-weight: 400;
	padding-top: 20px;
}
h3 {
	font-size: 1.4rem;
	padding-top: 20px;
}
h4 {
	font-weight: bold;
	font-size: 1.1em;
	line-height: 23px;
	letter-spacing: 0.05em;
}
ul {
	list-style: disc;
	padding: 0 2em;
}
ol {
	padding: 0 2em;
}
li {
	padding: 5px 0;
}
ol li {
	list-style: decimal;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
code {
	font-family: monospace;
	color: $link-text-color;
	font-size: 1.1em;
	line-height: 1.5em;
	overflow-wrap: break-word;
}
td {
	border:	1px solid #DDD;
	background: white;
	padding: 10px;
}
th {
	border:	1px solid #DDD;
	background: white;
	padding: 10px;
	word-break: break-word;
}
tr {
	text-align: center;
}
table {
	table-layout: fixed;
	width: 100%;
}

.text__tagline {
    margin-bottom: 14px;
}

.text__tagline__item {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;

    @media (min-width: $mobile-breakpoint) {
        font-size: 36px;
        line-height: 48px;
    }
}

.text__section-header {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 32px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
    }
}

.text__homepage-link {
    color: #16819c;
    font-weight: 500;
    font-family: Metropolis, sans-serif;
    margin-bottom: 40px;
}

.screen-reader-link-text {
    position: absolute;
    width: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

.text--light {
    color: $light-text-color;
}

.text--dark {
    color: $dark-text-color;
}

.text--shadow {
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.text--600 {
    font-weight: 600;
}

.text--500 {
    font-weight: 500;
}

.text-line-height--24 {
    line-height: 24px;
}

.text-line-height--22 {
    line-height: 22px;
}

.text-size--16 {
    font-size: 16px;
}

.text-size--14 {
    font-size: 14px;
}
