/* screen sizing variables */
$mobile-breakpoint : 480px;
$mobile-breakpoint-footer: 800px;
$header-hamburger-breakpoint: 800px;
$table-of-contents-breakpoint: 1200px;
$action-buttons-breakpoint: 650px;

/* color variables */
$light-text-color : #ffffff;
$dark-text-color: #133D47;
$link-text-color: #16819C;
$link-text-dark-background-color: #6FD1E7; // lighter link color; WCAG contrast compliant on dark background


$docs-output-expander-color: #E4E4E4;

$light-background-color: #ffffff;
$dark-background-color: #4B5259;

$homepage-button-gradient: linear-gradient(194.93deg, #9DDCB2 10.52%, #08A69B 97.9%);
$action-button-color: rgba(196, 196, 196, 0.1);

$default-font-family: "Avenir Next", sans-serif;