/* Let the games begin. */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: $light-background-color;
	font-family: "Avenir Next", sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.5em;
	color: $dark-text-color;
}
img {
	height: auto;
	max-width: 100%;
}
p {
	padding: 0.7em 0;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
	color: $dark-text-color;
	-webkit-font-smoothing: subpixel-antialiased;
	letter-spacing: -0.025em;
}
h1 {
	font-size: 3rem;
	font-weight: 600;
}
h2 {
	font-size: 2.5rem;
	font-weight: 400;
	padding-top: 20px;
}
h3 {
	font-size: 1.4rem;
	padding-top: 20px;
}
h4 {
	font-weight: bold;
	font-size: 1.1em;
	line-height: 23px;
	letter-spacing: 0.05em;
	color: #4A516D;
}
ul {
	list-style: disc;
	padding: 0 2em;
}
ol {
	padding: 0 2em;
}
li {
	padding: 5px 0;
}
ol li {
	list-style: decimal;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
code {
	font-family: monospace;
	color: $link-text-color;
	font-size: 1.1em;
	line-height: 1.5em;
	overflow-wrap: break-word;
}
td {
	border:	1px solid #DDD;
	background: white;
	padding: 10px;
}
th {
	border:	1px solid #DDD;
	background: white;
	padding: 10px;
	word-break: break-word;
}
tr {
	text-align: center;
}
table {
	table-layout: fixed;
	width: 100%;
}
/* easy rwd by www.traverstodd.com */

.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}
.no-overflow {
	overflow: hidden;
}
.transparent {
	opacity: 0.0;
}
.opaque {
	opacity: 1.0;
}
/* micro clearfix below. contains floats like .clearfix. */

.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
/* need to clear floats instead of contain them? use this below. */

.clear, .clear-both {
	clear: both;
}
/* need to float things? we got you covered. */

.left, .floatleft {
	float: left !important;
}
.right, .floatright {
	float: right !important;
}
/* these are for images, below. gives a nice margin. sweet. */

.alignright {
	float: right;
	margin: 0 0 15px 15px;
}
.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}
.floatnone {
	float: none;
}
/* need a middle-aligned header. don't write another CSS rule. just use these! */

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
/* need to add z-index? Us these class? */

.z0 {
	z-index: 0;
}
.z1 {
	z-index: 1;
}
.z2 {
	z-index: 2;
}
.z3 {
	z-index: 3;
}
.z4 {
	z-index: 4;
}
.z5 {
	z-index: 5;
}
/* For a little extra reassurance */

.z99 {
	z-index: 99;
}
/* magic. many combinations exists with simplicity. */

.float20 {
	float: left;
	width: 20%;
}
.float25 {
	float: left;
	width: 25%;
}
.float33 {
	float: left;
	width: 33%;
}
.float50 {
	float: left;
	width: 50%;
}
.float66 {
	float: left;
	width: 66%;
}
.float75 {
	float: left;
	width: 75%;
}
.float80 {
	float: left;
	width: 80%;
}
.flex {
	display: flex;
}
.inline-block {
	display: inline-block;
}
.inline25 {
	display: inline-block;
	width: 25%;
	margin-right: -4px;
}
.inline33 {
	display: inline-block;
	width: 33.3333%;
	margin-right: -4px;
}
.inline50 {
	display: inline-block;
	width: 50%;
	margin-right: -4px;
}
.inline66 {
	display: inline-block;
	width: 66.6666%;
	margin-right: -4px;
}
/* structure */

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.pad50 {
	padding: 50px;
}
.pad-right {
	padding-right: 4em;
}
.pad-top-100 {
	padding-top: 100px;
}
.pad-btm-100 {
	padding-bottom: 100px;
}
.text-col {
	max-width: 1000px;
	overflow: auto;
}
.inner {
	max-width: 1140px;
	margin: 0 auto;
}
/* decorators */

.bg-white {
	background: #FEFEFE;
}
.external-link:before {
	display: none;
}
/* header */

.cta {
	position: relative;
	padding: 0 4px;
	z-index: 1;
	display: inline-block;
	line-height: 1em;
}
.external-link {
	background: $link-text-color;
	color: white;
	padding: 8px 16px;
	border-radius: 4px;
}

/* github redirect */

.github-edit__redirect {
	margin-top: 16px;
	border: 1px solid $light-background-color;
	border-radius: 5px;
	background: $light-background-color;
	width: 75px;
	float: right;
}

.github-edit__redirect:hover {
	opacity: 0.8 !important;
	border: 1px solid #4a516d;
	background: white;
	color: #4a516d;
}

.redirect__content {
	display: flex;
	text-align: center;
	margin: 8px 0px;
}

.docs img.github-logo {
	border: none;
	width: 25%;
}

.edit-text {
	margin-right: 10px;
	font-size: 12px;
}

/* get-started */

.icon {
	width: 120px;
	margin: 0 10px;
}
.get-started a {
	display: inline-block;
}

/* docs */
.docs {
	min-height: 70vh;
	background: $light-background-color;
}
.docs img {
	display: block;
	margin: 0 auto;
	border: 1px solid #E4E4E4;
}
.docs-sidebar {
	width: 380px;
	border-right: 1px solid #ccc;
	background: $dark-background-color;
}

.docs-lastmod {
	padding-left: 50px;
	font-style: italic;
}
.docs-sidebar {
	padding-top: 50px;
	padding-left: 50px;
}
.docs-menu h4 {
	color: $light-text-color;
	line-height: 3em;
}
.docs-menu ul {
	padding: 0;
}
.docs-menu li {
	list-style: none;
	position: relative;
	padding: 0;
	font-weight: bolder;
}
.docs-menu ul.sub-menu {
	padding-left: 20px;
	position: relative;
}
.docs-menu ul.sub-menu li a{
	font-weight: normal;
}
.docs-menu a {
	display: block;
	position: relative;
	margin: 5px 0;
	padding: 5px;
	text-decoration: none;
	opacity: 1;
	color: $light-text-color;
}
.docs-menu a.active {
	color: $dark-text-color;
	padding-left: 15px;
}
.docs-menu a:before {
	content: "";
	transition: all 0.3s cubic-bezier(.17, .84, .44, 1);
	position: absolute;
	background: $light-background-color;
	width: 1px;
	top: 0;
	right: -1px;
	height: 100%;
	z-index: -1;
}
.docs-menu a.active:before {
	width: 100%;
	background: $light-background-color;
	color: $dark-text-color;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.docs-menu a:hover {
	color: $link-text-dark-background-color;
}
.docs pre {
	position: relative;
	display: block;
	background-color: $light-background-color;
	font-family: monospace;
	padding: 0.35em 0.6em;
	border: 1px solid #E4E4E4;
	overflow: auto;
	overflow-wrap: break-word;
}
.docs pre img {
	display: none;
	position: absolute;
	top: 2px;
	right: 2px;
	background: #FFF;
	cursor: pointer;
	border: none;
}
.docs pre:hover img {
	display: block;
}
.docs pre.copied img {
	display: none;
}
.docs pre .copied {
	visibility: hidden;
	position: absolute;
	top: 2px;
	right: 2px;
	opacity: 1;
}
.docs pre.copied .copied {
	visibility: visible;
	opacity: 0;
	transition: visibility 0s, opacity 1s ease-in-out 1s;
}
.docs .code-output pre {
	display: none;
	background: #E4E4E4;
}
.docs .code-output.visible pre {
	display: block;
}
.docs .code-output pre code {
	color: #585858;
}
.docs .code-output .btn {
	background: #E4E4E4;
	text-transform: uppercase;
	font-size: 0.6em;
	display: block;
	margin-top: 3px;
	padding: 0 5px;
	float: left;
	text-align: center;
}
.docs .code-output .btn:before {
	display: inline-block;
	width: 35px;
	content: 'View ';
}
.docs .code-output .btn:hover {
	cursor: pointer;
}
.docs .code-output.visible .btn:before {
	content: 'Hide ';
}
.toc {
	font-size: 1em;
	line-height: 1.1em;
	color: inherit;
	text-decoration: none;
}

@media (max-width: 1000px) {
	.half-1000 {
		width: 50%;
	}
	.full-1000 {
		width: 100%;
		float: none;
		display: block;
	}
	.no-flex-1000 {
		display: inherit;
	}
	.paketo-merits {
		column-count: 1;
	}
	.paketo-block {
		width: 33vw;
	}
	.paketo-block.mid {
		top: 19.2vw;
	}
	.paketo-block.btm {
		top: 38.5vw;
		width: 19vw;
	}
}
@media (max-width: 800px) {
	.hero .builders .logos {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.half-800 {
		width: 50%;
	}
	.full-800 {
		width: 100%;
		float: none;
		display: block;
	}
	.no-flex-800 {
		display: inherit;
	}
	h2 {
		margin-bottom: 1em;
	}
	.what-are .text-col {
		padding-bottom: 40px;
	}
	.paketo-blocks {
		height: 65vw;
	}
	.pad-right {
		padding-right: 1em;
	}
	.docs-sidebar {
		width: 100%;
	}
	.docs-menu {
		padding-bottom: 50px;
	}
	.docs-menu a {
		display: inline-block;
	}
	.docs-menu a:before {
		display: none;
	}
	.docs-menu a.active {
		background: $light-background-color;
		padding-right: 15px;
	}

	.docs-menu a:hover {
		color: $link-text-dark-background-color;
	}
}
@media (max-width: 600px) {
	.half-600 {
		width: 50%;
	}
	.full-600 {
		width: 100%;
		float: none;
		display: block;
	}
	.no-flex-600 {
		display: inherit;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 1.8rem;
	}
	.hero .cta {
		font-size: 1.2rem;
	}
}
@media (max-width: 500px) {
	.mobile-only {
		display: none;
	}
	.pad-mobile {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.paketo-merit {
		display: block;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
	}
	.paketo-merit .image {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}
	.paketo-merit .text {
		width: 100%;
		padding-left: 20px;
	}
	.paketo-merit .image img {
		max-width: 80%;
	}
	.hero .builders .tabs .tab {
		padding: 5px 15px 5px 15px;
		margin-right: 5px;
		border-radius: 3px 3px 0 0;
	}
	.clipboard {
		display: none;
	}
	.half-500 {
		width: 50%;
	}
	.full-500 {
		width: 100%;
		float: none;
		display: block;
	}
	.no-flex-500 {
		display: inherit;
	}
	.hero .logos .logo img {
		max-height: 16vmin;
		max-width: 25vmin;
	}
	.docs pre:hover img {
		display: none;
	}
}
@media (max-width: 400px) {
	.half-400 {
		width: 50%;
	}
	.full-400 {
		width: 100%;
		float: none;
		display: block;
	}
	.no-flex-400 {
		display: inherit;
	}
}
