<!-- sidebar start -->
<input type="text" id="docs-search" class="algolia-autocomplete__search-bar" placeholder="Search docs..." data-api-key="{{ .Site.Params.docs_search.api_key }}" data-index="{{ .Site.Params.docs_search.index }}"/>
<nav class="docs-menu">
    <ul class="docs-menu__top-level-list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ template "docs-menu-entry" dict "currentPage" $currentPage "entry" .}}
        {{ end }}
    </ul>
</nav>

<!-- templates -->
{{- define "docs-menu-entry" }}
    {{- $currentPage := .currentPage }}
    {{- $entry := .entry }}
    {{ if $entry.HasChildren }}
        <li class="docs-menu__item docs-menu__parent">
            {{ if isset $entry.Params "class" }}
            <div class="{{ $entry.Params.class }} {{ if $currentPage.HasMenuCurrent "main" $entry }}{{ $entry.Params.class }}--opened{{ end }}">
                {{ $entry.Pre }}
                <span>{{ $entry.Name }}</span>
                <button class="expander-button {{ if $currentPage.HasMenuCurrent "main" $entry }}expander-button--opened{{ end }} docs-menu__expander-button">
                    <svg class="expander-button__triangle {{ if $currentPage.HasMenuCurrent "main" $entry }}expander-button__triangle--opened{{ end }}" width="38" height="34" viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.140625" width="37.0257" height="34" rx="8" fill="#888888" fill-opacity="0.25"/>
                        <path d="M28.1604 13H8.14648L18.6538 22.5L28.1604 13Z" fill="#FEFCFC"/>
                        </svg>
                </button>
            </div>
            {{ else }}
            <a href="{{ $entry.URL }}"  class="docs-menu__item docs-menu__link {{ if $currentPage.IsMenuCurrent "main" $entry }}docs-menu__link--active{{ end }}">
                {{ $entry.Pre }}
                <span>{{ $entry.Name }}</span>
            </a>
            {{ end }}
            <ul class="docs-menu__children-list {{ if $currentPage.HasMenuCurrent "main" $entry }}docs-menu__children-list--opened{{ end }}">
                {{ range $entry.Children }}
                    {{ template "docs-menu-entry"  dict "currentPage" $currentPage "entry" . }}
                {{ end }}
            </ul>
        </li>
    {{ else }}
        <li class="docs-menu__leaf">
            <a href="{{ $entry.URL }}" class="docs-menu__item docs-menu__link {{ if $currentPage.IsMenuCurrent "main" $entry }}docs-menu__link--active{{ end }}">
                {{ $entry.Pre }}
                <span>{{ $entry.Name }}</span>
            </a>
        </li>
    {{ end }}
{{- end}}
