<!-- sidebar start -->
<nav class="docs-menu">
    <h4 class="docs-menu__title">{{ .Site.Params.docs_menu.title }}</h4>
    <ul class="docs-menu__top-level-list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ template "docs-menu-entry" dict "currentPage" $currentPage "entry" .}}
        {{ end }}
    </ul>
</nav>

<!-- templates -->
{{- define "docs-menu-entry" }}
    {{- $currentPage := .currentPage }}
    {{- $entry := .entry }}
    {{ if $entry.HasChildren }}
        <li class="docs-menu__parent">
            {{ if isset $entry.Params "class" }}
            <div class="{{ $entry.Params.class }}">
                {{ $entry.Pre }}
                <span>{{ $entry.Name }}</span>
            </div>
            {{ else }}
            <a href="{{ $entry.URL }}"  class="docs-menu__link {{ if $currentPage.IsMenuCurrent "main" $entry }}docs-menu__link--active{{ end }}">
                {{ $entry.Pre }}
                <span>{{ $entry.Name }}</span>
            </a>
            {{ end }}
            <ul class="docs-menu__children-list">
                {{ range $entry.Children }}
                    {{ template "docs-menu-entry"  dict "currentPage" $currentPage "entry" . }}
                {{ end }}
            </ul>
        </li>
    {{ else }}
        <li class="docs-menu__leaf">
            <a href="{{ $entry.URL }}" class="docs-menu__link {{ if $currentPage.IsMenuCurrent "main" $entry }}docs-menu__link--active{{ end }}">
                {{ $entry.Pre }}
                <span>{{ $entry.Name }}</span>
            </a>
        </li>
    {{ end }}
{{- end}}
