
<div class="flex docs no-flex-800 cf">
    <div class="docs-sidebar relative z2 bg-white">
        {{ partial "docs-sidebar.html" . }}
    </div>
    <div class="docs-body relative">
        <div class="text-col docs-text pad50">
            {{ .Content }}
        </div>

        {{with .Site.Pages.Prev . }}
            <div class="next-up absolute pad50">
                <h3>Next up</h3>
                <p><a class="cta" href="{{.RelPermalink}}">{{ .Title }}</a></p>
            </div>
        {{end}}
    </div>
</div>