<!-- sidebar start -->
<div class="docs-menu">
    <h4>{{ .Site.Params.docs_menu.title }}</h4>
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ template "docs-menu-entry" dict "currentPage" $currentPage "entry" .}}
        {{ end }}
    </ul>
</div>

<!-- templates -->
{{- define "docs-menu-entry" }}
    {{- $currentPage := .currentPage }}
    {{- $entry := .entry }}
    {{ if $entry.HasChildren }}
        <li>
            <a href="{{ $entry.URL }}"  class="{{ if $currentPage.IsMenuCurrent "main" $entry }}active{{ end }}">
                {{ $entry.Pre }}
                <span>{{ $entry.Name }}</span>
            </a>
            <ul class="sub-menu">
                {{ range $entry.Children }}
                    {{ template "docs-menu-entry"  dict "currentPage" $currentPage "entry" . }}
                {{ end }}
            </ul>
        </li>
    {{ else }}
        <li>
            <a href="{{ $entry.URL }}" class="{{ if $currentPage.IsMenuCurrent "main" $entry }}active{{ end }}">
                {{ $entry.Pre }}
                <span>{{ $entry.Name }}</span>
            </a>
        </li>
    {{ end }}
{{- end}}
