<div class="rf-docs docs">
    <div class="docs-sidebar relative z2 bg-white">
        {{ partial "docs-sidebar.html" . }}
    </div>
    <div class="docs-body">
        <div class="docs-body__container">
            <h1 class="">{{ .Title }}</h1>
            {{ partial "v2/docs-table-of-contents.html" . }}
            {{ .Scratch.Set "path" .File.Path }}
            {{ .Scratch.Set "filename" .File.TranslationBaseName }}
            {{ partial "github-edit.html" . }}
            <div class="docs-body__markdown">
                {{ .Content }}
            </div>
            {{ partial "github-edit.html" . }}
        </div>
        <p class="docs-mod-time"><strong>Last modified:</strong> {{ .Lastmod.Format "January 2, 2006" }}</p>
    </div>
</div>
