<div class="get-started pad50 pad-top-100 bg-white pad-btm-100 text-center">
    <div class="cf">
        <h2>{{ .Site.Params.get_started.headline }}</h2>
        <div class="cf">
            {{ with .Site.Params.get_started }}

                {{ range .item }}

                    <div class="inline25 text-center">
                        <div class="icon-link">
                            <h4>
                                <a class="cta" href="{{ .link }}">
                                    <div class="icon"><img src="/images/{{ .icon  }}"></div>
                                    {{ .text }}
                                </a>
                            </h4>
                        </div>
                    </div>

                {{ end }}
            
            {{ end }}
        </div>
    </div>
</div>
