{{ $path := .Scratch.Get "path" }}
{{ $filename := .Scratch.Get "filename" }}
{{/* Add language families to this slice as we migrate docs to modules */}}
{{ $langFams := slice "dotnet-core"}}
{{ .Scratch.Set "url" (printf "http://github.com/paketo-buildpacks/paketo-website/edit/main/content/%s" $path) }}
{{if (in $langFams $filename) }}
  {{ .Scratch.Set "url" (printf "http://github.com/paketo-buildpacks/%s/edit/main/docs/content/%s.md" $filename $filename) }}
{{ end }}
  <a href="{{ .Scratch.Get "url" }}" target="_blank" class="github-edit" style="text-decoration:none">
    <div class="github-edit__content">
      <div class="github-edit__logo-container">
        <img class="github-edit__logo" src="/images/github-mark.png">
      </div>
        <div class="github-edit__text">Edit</div>
    </div>
</a>
