<header class="cf">
    <div class="logo left">
        <a href="/">
            <img src="/images/paketo-logo-full-color.png">
        </a>
    </div>
    <div class="right">
        <div class="nav-opener hidden">
            <span class="top transition-03"></span>
            <span class="middle transition-03"></span>
            <span class="bottom transition-03"></span>
        </div>
        <nav class="cf">
            <div class="upper-nav right">
                <a href="/docs/">docs</a>
                <a href="/contribute/">community</a>
                <a href="https://blog.paketo.io">blog</a>
                <a href="https://github.com/paketo-buildpacks">github</a>
            </div>
        </nav>
    </div>
</header>
