<header class="cf">
    <div class="logo left">
        <a href="/">
            <img src="/images/paketo-logo-full-color.png">
        </a>
    </div>
    <div class="right">
        <div class="nav-opener hidden">
            <span class="top transition-03"></span>
            <span class="middle transition-03"></span>
            <span class="bottom transition-03"></span>
        </div>
        <nav class="cf">
            <div class="upper-nav right">
                <a href="/">Home</a>
                <a href="/docs/">Docs</a>
                <a href="/faq/">FAQ</a>
                {{ partial "shared-nav.html" . }}
            </div>
        </nav>
    </div>
</header>
