<div class="hero pad50">
    {{ with .Site.Params.hero}}
        <div class="cf">
            <div class="float50 full-800">
                <div class="text-col">
                    <h1>{{ .headline }} </h1>
                    <h2>{{ .subheadline }} </h2>
                    <p><a class="cta" href="{{ .cta_link}}" title="{{ .cta_text }}">{{ .cta_text }}</a></p>
                </div>
            </div>
        </div>
        <div class="cf">
            <div class="full-800 cf hero-logos">
                {{ range .logos }}
                    {{ range .item }}
                        <div class="hero-logo">
                            <img src="/images/{{ .img  }}" alt="{{ .alt }}">
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    {{ end }}
</div>
