<div id="wp" class="what-are pad50 pad-top-100 pad-btm-100 bg-white">
    <div class="cf">
        <div class="float66 pad-right">
            <div class="text-col">
                <h2>{{ .Site.Params.what_are_buildpacks.headline }}</h2>
                <p>{{ .Site.Params.what_are_buildpacks.description }}</p>
                <a href={{ .Site.Params.what_are_buildpacks.cta_link}} target="_blank"> {{ .Site.Params.what_are_buildpacks.cta_text}} </a>
            </div>
        </div>
    </div>
    <div class="verticalcontainer">
        <div class="float66 pad-right">
            <div class="text-col">
                <h2>{{ .Site.Params.what_are_paketo_buildpacks.headline }}</h2>
                <p>{{ .Site.Params.what_are_paketo_buildpacks.description }}</p>
            </div>
        </div>
        {{ with .Site.Params.what_are_paketo_buildpacks }}
            <div class="horizontalcontainer">
                {{ range .item }}
                <div class="float66 pad-right">
                    <h3>{{ .name  }}</h3>
                    <ul>
                    {{ range .subitem }}
                    <li>
                        <a href={{ .elem_link}} target="_blank"> {{ .elem_name}} </a>
                    </li>
                    {{ end }}
                    </ul>
                </div>
            {{ end }}
            </div>
        {{ end }}
        </div>
    </div>
</div>
