<div class="what-are pad50 pad-top-100 pad-btm-100 bg-white">
    <div class="cf">
        <div class="float50 full-800 pad-right">
            <div class="text-col">
                <h2>{{ .Site.Params.what_are_buildpacks.headline }}</h2>
                <p>{{ .Site.Params.what_are_buildpacks.description }}</p>
                <a class="cta" href={{ .Site.Params.what_are_buildpacks.cta_link}}>{{ .Site.Params.what_are_buildpacks.cta_text}}</a>
            </div>
        </div>
        <div class="float50 full-800 pad-right">
            <img src="/images/paketo-demo.gif"/>
        </div>

    </div>
</div>
