<div id="wp" class="why-paketo pad50 pad-top-100 pad-btm-100 bg-white">
    <div class="cf">
        <div class="float66 pad-right">
            <div class="text-col">
                <h2>{{ .Site.Params.why_paketo.headline }}</h2>
                <p>{{ .Site.Params.why_paketo.copy }}</p>
            </div>
            <div class="paketo-merits pad-right cf">
                {{ with .Site.Params.why_paketo }}

                    {{ range .item }}

                        <div class="inline-block">

                            <h3>{{ .title  }}</h3>
                            <p>{{ .description }}</p>

                        </div>

                    {{ end }}

                {{ end }}
            </div>
        </div>
        <div class="float33 paketo-blocks relative">
            <img src="/images/paketo-top.svg" alt="" class="paketo-block absolute z3 top">
            <img src="/images/paketo-mid.svg" alt="" class="paketo-block absolute z2 mid">
            <img src="/images/paketo-btm.svg" alt="" class="paketo-block absolute z1 btm">
        </div>
    </div>
</div>
