/* docs */
body {
	background: $light-background-color;
	font-family: "Avenir Next", sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.5em;
	color: $dark-text-color;
}

.docs {
    display: block;
    background: $light-background-color;

    @media (min-width: $header-hamburger-breakpoint) {
        display: flex;
    }
}

/* docs nav */
.docs-sidebar {
    width: 100%;
    padding-top: 50px;
	padding-left: 50px;
    background: $dark-background-color;
    
    @media (min-width: $header-hamburger-breakpoint) {
        width: 380px;    
    }
}

.docs-menu {
    padding-bottom: 50px;
}

.docs-menu__title {
	color: $light-text-color;
	line-height: 3em;
}

.docs-menu__top-level-list {
    padding: 0;
    list-style: none;
    position: relative;
    padding: 0;
}

.docs-menu__parent {
    list-style: inherit;
    position: relative;
    padding: 0px;
    padding-right: 5px;
}

.docs-menu__children-list {
    list-style: inherit;
    padding-left: 20px;
	position: relative;
}

.docs-menu__leaf {
    list-style: inherit;
    position: relative;
    padding: 0;
    padding-right: 5px;
}

.docs-menu__link {
    display: inline-block;
    position: relative;
    margin: 5px 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    opacity: 1;
    color: $light-text-color;
}

.docs-menu__link--active {
	color: $dark-text-color;
    background: $light-background-color;
    border-radius: 10px;
}

.docs-menu__link:hover {
	color: $link-text-dark-background-color;
    opacity: 100%;
}

.docs-menu__link--active:hover {
    color: $link-text-color;
}

@media (min-width: $header-hamburger-breakpoint) {
    .docs-menu {
		padding-bottom: 0px;
	}

	.docs-menu a {
        display: block;
    }

    .docs-menu a.active {
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

/* docs body */
.docs-body {
    width: 100%;
    position: relative;
    padding-left: 31px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

    font-family: "Avenir Next", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $dark-text-color;

    @media (min-width: $header-hamburger-breakpoint) {
        width: calc(100% - 380px);
        display: flex;
        flex-direction: row;
        padding-right: 30px;
    }

    @media (min-width: $mobile-breakpoint) {
        font-weight: normal;
        font-size: 17px;
    }
}

.docs-body__container {
    max-width: 1000px;
	overflow: auto;
}

.docs-body__markdown {
    margin-top: 60px;
}

.docs-body h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 30px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        margin-bottom: 53px;
    }
}

.docs-body h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
    }
}

.docs-body h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
    }
}

.docs-body h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: bold;
        font-size: 16px;
        line-height: 27px;
    }
}

/* table of contents */
.docs-body__table-of-contents {
    color: $dark-text-color;
    font-size: 17px;
    line-height: 24px;
    text-decoration-line: underline;
}

.docs-body__table-of-contents ul {
    list-style: none;
    padding: 0px;               // don't indent h2 headers
}

.docs-body__table-of-contents ul li ul { // indent h3 subheaders
       padding: 0 1em;
   }

.docs-body__table-of-contents-container {
    display: none;

    padding-top: 40px;
    padding-left: 48px;
    max-width: 600px;
}

.docs-body__table-of-contents--desktop {
    display: none;
}

@media(min-width: $table-of-contents-breakpoint) {
    .docs-body__table-of-contents--mobile {
        display: none;
    }

    .docs-body__table-of-contents--desktop {
        display: block;
    }

    .docs-body__table-of-contents-container {
        display: block;
    }
}

/* github redirect */

.github-edit {
    display: none;

    margin-top: 16px;
	border: 1px solid $dark-background-color;
	border-radius: 5px;
	background: $light-background-color;
	width: 75px;
	float: right;

    @media (min-width: $mobile-breakpoint) {
        display: block;
    }
}

.github-edit:hover {
	opacity: 0.8 !important;
	border: 1px solid #4a516d;
	background: white;
	color: #4a516d;
}

.github-edit__content {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 8px 0px;
}

.github-edit__logo-container {
	border: none;
	width: 30%;
	margin-left: 5px;
	margin-right: 5px;
}

.github-edit__text {
	margin-right: 10px;
	font-size: 12px;
}

/* copyable code blocks */
.copyable {	
    position: relative;
	display: block;
	background-color: $light-background-color;
	padding: 0.35em 0.6em;
	border: 1px solid #E4E4E4;
	overflow: auto;
}

.copyable__code {
    font-family: monospace;
}

.copyable__clipboard {
    display: block;
	position: absolute;
	top: 2px;
	right: 2px;
    background: #FFF;
	cursor: pointer;
	border: none;
}

.copyable:hover .copyable__clipboard {
    display: block;
}

.copyable--clicked .copyable__clipboard {
    display: none;
}

.copyable--clicked:hover .copyable__clipboard {
    display: none;
}

.copyable__copied {
    visibility: hidden;
	position: absolute;
	top: 2px;
	right: 2px;
    background-color: $light-background-color;
    opacity: 100;
    font-family: $default-font-family;
}

.copyable--clicked .copyable__clipboard {
    display: none;
}

.copyable--clicked:hover .copyable__clipboard {
    display: none;
}

.copyable--clicked .copyable__copied {
    visibility: visible;
	opacity: 0;
	transition: visibility 0s, opacity 1s ease-in-out 1s;
}

@media (min-width: $mobile-breakpoint) {
    .copyable__clipboard {
        display: none;
        position: absolute;
        top: 2px;
        right: 2px;
        background: #FFF;
        cursor: pointer;
        border: none;
    }

    .copyable:hover .copyable__clipboard {
        display: block;
    }

    .copyable__copied {
        visibility: hidden;
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: $light-background-color;
        opacity: 100;
        font-family: $default-font-family;
    }

    .copyable--clicked .copyable__copied {
        visibility: visible;
        opacity: 0;
        transition: visibility 0s, opacity 1s ease-in-out 1s;
    }

}

/* view output expander */

.code-output__btn {
    width: 80px;
    background: $docs-output-expander-color; // TODO: Check contrast
	text-transform: uppercase;
	font-size: 0.6em;
	margin-top: 10px;
    padding: 3px;
	text-align: center;
}

.code-output__btn:hover {
    cursor: pointer;
}

.code-output__output-container {
    display: none;
    background: $docs-output-expander-color;
    width: 100%;
    overflow: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.code-output__output {
    color: $dark-text-color;
}

.code-output--opened {

    .code-output__output-container {
        display: block;
        
    }
}

/* bits and bobs */
.docs img {
	display: block;
	margin: 0 auto;
	border: 1px solid #E4E4E4;
}

.docs-mod-time {
	padding-left: 50px;
    font-style: italic;
    padding: 0px;
}

.markup-heading__link {
    text-decoration: none;
}