.paketo-logo {
    width: fit-content;
    height: fit-content;
    margin-bottom: 46px;

    @media (min-width: $mobile-breakpoint) {
        padding: 20px;
    }
}

.paketo-logo__image {
    width: 112px;

    @media (min-width: $mobile-breakpoint) {
        width: 245px;
    }
}