/* layout */

.homepage-content {
    display: flex;
    flex-direction: column;

    font-family: "Avenir Next", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.section-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

    @media (min-width: $mobile-breakpoint) {
        min-width: 450px;
    }
}

.section-content--with-background {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    justify-content: space-around;
    overflow-y: visible;

    @media (min-width: $mobile-breakpoint) {
        min-width: 450px;
    }
}

.section-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

    @media (min-width: $mobile-breakpoint) {
        min-width: 450px;
    }
}

.section-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 400px;
    padding-right: 400px;
}

/* layout helpers */

.center-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-100pct {
    width: 100%;
}

.height-100pct {
    height: 100%;
}

.margin-bottom70 {
    margin-bottom: 70px;
}

/* homepage-sections */

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.languages__item {
    margin: 10px;
}

.logo {
    height: 35px;
}

.logo--java {
    height: 80px;
    margin-left: 12px;
    margin-right: 12px;
}

.logo--graalvm {
    height: 25px;
}

.logo--go {
    height: 56px;
}

.logo--nginx {
    height: 45px;
}

.logo--php {
    height: 45px;
}

.logo--httpd {
    height: 66px;
    margin-left: 20px;
    margin-right: 20px;
}

.feature {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.feature__tagline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.feature__tagline__icon-container {
    width: 60px;
    height: 60px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.background-image-container {
    z-index: -1;
    overflow-x: hidden;
}

.background-image-container--layers {
    transition: margin-left 0.5s;

    @media (min-width: $mobile-breakpoint) and (max-width: 900px) {
        margin-left: -500px;
    }
    
    @media (min-width: 900px) {
        margin-left: -200px;
        margin-top: -60px;
        margin-bottom: -80px;  
    }
}

/* content style */
.font--default {
    font-family: "Avenir Next", sans-serif;
}

.paragraph {
    margin-bottom: 32px;
}


h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;

    @media (min-width: $mobile-breakpoint) {
        font-size: 24px;
        line-height: 33px;
    }
}

.body {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    @media (min-width: 480px) {
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
    }
}

.button {
    display: flex;
    background: $homepage-button-gradient;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    height: 70px;
    width: 272px;
    justify-content: center;
    align-items: center;
}

a:hover {
    opacity: 0.8;
}

.list--disc {
    padding-left: 25px;
    list-style-type: disc;
}

.list__element {
    margin-bottom: 10px;
}

.what-are-buildpacks-element {
    margin-bottom: 70px;
}

.what-are-buildpacks-element__image {
    margin-top: 10px;
    width: 100%;

    @media (min-width: $mobile-breakpoint) {
        max-width: 400px;
    }
}

.what-are-buildpacks-element__imageset {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}

.what-are-buildpacks-element__imageset__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 110px;
    height: 110px;
}

.what-are-buildpacks-element__logo-cloud {
    width: 90px;
}

.what-are-buildpacks-element__logo-docker {
    width: 80px;
}

.what-are-buildpacks-element__logo-k8s {
    width: 64px;
}

.what-are-buildpacks-element__logo-azure-devops {
    width: 110px;
}

.what-are-buildpacks-element__logo-jenkins {
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.what-are-buildpacks-element__logo-circleci {
    width: 110px;
}

.what-are-buildpacks-element__logo-azure-devops {
    width: 110px;
}

.how-it-works-animation {
    width: 100%;
}
.how-it-works-animation__animation {
    padding-bottom: 21px;
}

