/* layout */

.content {
    display: flex;
    flex-direction: column;

    font-family: Avenir Next, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.section-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

    @media (min-width: $mobile-breakpoint) {
        min-width: 450px;
    }
}

/* layout helpers */

.center-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-100pct {
    width: 100%;
}

.height-100pct {
    height: 100%;
}

.margin-bottom70 {
    margin-bottom: 70px;
}

/* homepage-sections */

.paketo-logo {
    width: fit-content;
    height: fit-content;
    margin-bottom: 46px;

    @media (min-width: $mobile-breakpoint) {
        padding: 20px;
    }
}

.paketo-logo__image {
    width: 112px;

    @media (min-width: $mobile-breakpoint) {
        width: 245px;
    }
}

.homepage-section {
    padding-left: 28px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.homepage-section--dark {
    background: $dark-background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homepage-section--light {
    background: $light-background-color !important;
    box-shadow: none;
}

.homepage-section--header {
    box-shadow: none;
    padding-top: 20px;

    @media (min-width: $mobile-breakpoint) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.homepage-section__languages {
    align-items: center;
}

.homepage-section__contribute {
    padding-bottom: 64px;
}

.homepage-section__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $mobile-breakpoint-footer) {
        flex-direction: row-reverse;
    }
}

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.languages__item {
    width: fit-content;
    height: fit-content;
    margin: 5px;
}

.logo {
    height: 35px;
}

.logo-java {
    height: 80px;
}

.logo-graalvm {
    height: 25px;
}

.logo-go {
    height: 56px;
}

.logo-nginx {
    height: 45px;
}

.logo-php {
    height: 45px;
}

.logo-httpd {
    height: 66px;
}

.feature {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.feature__tagline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.feature__tagline__icon-container {
    width: 60px;
    height: 60px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.footer-social-links-container {
    display: flex;
    flex-direction: column;

    @media (min-width: $mobile-breakpoint-footer) {
        flex-direction: row;
    }
}

.footer-social-link {
    font-family: Metropolis, sans-serif;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;

    @media (min-width: $mobile-breakpoint-footer) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.footer-social-link__image-container {
    width: 70px;
    margin-right: 12px;
}

.footer-social-link__image-container__image {
    padding-left: 10px;
}

.footer-text--small {
    font-family: Metropolis, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 100;
}

.footer-privacy-policy {
    display: flex;
    flex-direction: column;
}

/* content style */
.font--default {
    font-family: Avenir Next, sans-serif;
}

.paragraph {
    margin-bottom: 32px;
}

.text__tagline {
    margin-bottom: 14px;
}

.text__tagline__item {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;

    @media (min-width: $mobile-breakpoint) {
        font-size: 36px;
        line-height: 48px;
    }
}

.text__section-header {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 32px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
    }
}

.text__homepage-link {
    color: #16819c;
    font-weight: 500;
    font-family: Metropolis, sans-serif;
    margin-bottom: 40px;
}

.text--light {
    color: $light-text-color;
}

.text--dark {
    color: $dark-text-color;
}

.text--shadow {
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.text--600 {
    font-weight: 600;
}

.text--500 {
    font-weight: 500;
}

.text-line-height--24 {
    line-height: 24px;
}

.text-line-height--22 {
    line-height: 22px;
}

.text-size--16 {
    font-size: 16px;
}

.text-size--14 {
    font-size: 14px;
}

h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;

    @media (min-width: $mobile-breakpoint) {
        font-size: 24px;
        line-height: 33px;
    }
}

.body {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    @media (min-width: 480px) {
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
    }
}

.button {
    display: flex;
    background: $homepage-button-gradient;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    height: 70px;
    width: 272px;
    justify-content: center;
    align-items: center;
}

a:hover {
    opacity: 0.8;
}

.list--disc {
    padding-left: 25px;
    list-style-type: disc;
}

.list__element {
    margin-bottom: 10px;
}

.what-are-buildpacks-element {
    margin-bottom: 70px;
}

.what-are-buildpacks-element__image {
    margin-top: 10px;
    width: 100%;

    @media (min-width: $mobile-breakpoint) {
        max-width: 400px;
    }
}

.what-are-buildpacks-element__imageset {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}

.what-are-buildpacks-element__imageset__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 110px;
    height: 110px;
}

.what-are-buildpacks-element__logo-cloud {
    width: 90px;
}

.what-are-buildpacks-element__logo-docker {
    width: 80px;
}

.what-are-buildpacks-element__logo-k8s {
    width: 64px;
}

.what-are-buildpacks-element__logo-azure-devops {
    width: 110px;
}

.what-are-buildpacks-element__logo-jenkins {
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.what-are-buildpacks-element__logo-circleci {
    width: 110px;
}

.what-are-buildpacks-element__logo-azure-devops {
    width: 110px;
}

.how-it-works-animation {
    width: 100%;
}
.how-it-works-animation__animation {
    padding-bottom: 21px;
}

.cloudfoundry-logo {
    width: 160px;
    margin: 13px; /* must be >=8% of width to follow branding guidelines*/
    margin-left: 0px;
}
