
.homepage-section {
    padding-left: 28px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-section--dark {
    background: $dark-background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homepage-section--light {
    background: $light-background-color !important;
    box-shadow: none;
}

.homepage-section--padded {
    padding-bottom: 64px;
}

.homepage-section--with-background {
    z-index: -2;
}