/* a home for css hacks needed to make things look okay during refactor */

// Needed to prevent the edit on github actiion button image to have a border
// because .docs img{} styling in paketo scss is aggressive
:root .github-edit__logo {
	border: none;
	width: 100%;
}

// Makes docs-sidebar look ok before refactor
.docs-sidebar {
    font-family: "Avenir Next", sans-serif;
}

// Needed to override some styles on .docs img
// that shouldn't apply to the click to copy clipboard 
:root .copyable__clipboard {
	display: block;
	border: none;
}
// Since the above uses :root, these ones also have to
// so that the click-to-copy JS can update the classes and 
// make a visible impact
:root .copyable--clicked .copyable__clipboard {
	display: none;
}

:root .copyable--clicked:hover .copyable__clipboard {
	display: none;
}

// The class that Hugo automatically gives to <pre> elements that wrap
// things in ``` ``` blocks in markdown
// A better solution would be to configure the markdown renderer to make all
// ``` ``` blocks be <div class="copyable"> automatically
.chroma {
	position: relative;
	display: block;
	background-color: $light-background-color;
	font-family: monospace;
	padding: 0.35em 0.6em;
	border: 1px solid #E4E4E4;
	overflow: auto;
	overflow-wrap: break-word;
}

// Without this, the docs-menu__link hover state color overrides
// docs-menu__link--active hover state color. This color is
// needed because it complies with accessibility contrast
// requirements against the light background of active nav
// elements
.docs-menu__link--active:hover.docs-menu__link--active:hover {
    color: $link-text-color;
}