.text__tagline {
    margin-bottom: 14px;
}

.text__tagline__item {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;

    @media (min-width: $mobile-breakpoint) {
        font-size: 36px;
        line-height: 48px;
    }
}

.text__section-header {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 32px;

    @media (min-width: $mobile-breakpoint) {
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
    }
}

.text__homepage-link {
    color: #16819c;
    font-weight: 500;
    font-family: Metropolis, sans-serif;
    margin-bottom: 40px;
}

.screen-reader-link-text {
    position: absolute;
    width: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

.text--light {
    color: $light-text-color;
}

.text--dark {
    color: $dark-text-color;
}

.text--shadow {
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.text--600 {
    font-weight: 600;
}

.text--500 {
    font-weight: 500;
}

.text-line-height--24 {
    line-height: 24px;
}

.text-line-height--22 {
    line-height: 22px;
}

.text-size--16 {
    font-size: 16px;
}

.text-size--14 {
    font-size: 14px;
}
