/* screen sizing variables */
$mobile-breakpoint : 480px;
$mobile-breakpoint-footer: 800px;
$header-hamburger-breakpoint: 800px;

/* color variables */
$light-text-color : #ffffff;
$dark-text-color: #133D47;
$link-text-color: #16819C;

$light-background-color: #ffffff;
$dark-background-color: #4B5259;

$homepage-button-gradient: linear-gradient(194.93deg, #9DDCB2 10.52%, #08A69B 97.9%);