<!doctype html>
<html lang="en">
<head>
    {{ partial "v2/head.html" . }}
</head>
<body>
    {{ partial "v2/header.html" (dict "headerTheme" "dark" ) }}
    <section class="homepage-section homepage-section--dark center-horizontal">
        <div class="section-content center-horizontal">
            <div class="section-content text__tagline">
                <h2 class="text__tagline__item text--light font--default text--shadow">Your app,</h2>
                <h2 class="text__tagline__item text--light font--default text--shadow">in your favorite language,</h2>
                <h2 class="text__tagline__item text--light font--default text--shadow"> ready to run in the cloud</h2>
            </div>
        </div>
    </section>
    <div class="content">
        <section class="homepage-section homepage-section__languages">
                    <div class="languages">
                        {{ with .Site.Params.hero}}
                        {{ range .logos }}
                            {{ range .item }}
                                <a class="languages__item" href="docs/buildpacks/language-family-buildpacks/{{ .docs }}">
                                  <img class="logo {{ .css_class }}" src="/v2/images/{{ .img  }}" alt="{{ .alt }}">
                                </a>
                            {{ end }}
                        {{ end }}
                        {{ end }}
                    </div>
            <a class="button text--shadow text--light" href="docs">Get Started</a>
        </section>
        <section class="homepage-section homepage-section--dark center-horizontal">
            <div class="section-content">
            <h2 class="text__section-header text--light text--shadow">What are Paketo Buildpacks?</h2>
            <div class="what-are-buildpacks-element">
                <ul class="text--light body whatare-list">
                    <li class="whatare-list__element">
                        Suspendisse condimentum maximus metus eu euismod. Donec nec porta mi. Vestibulum mattis, ipsum a ultrices.
                    </li>
                    <li class="whatare-list__element">
                        Phasellus nisl massa, interdum id aliquet ac, rhoncus vitae odio. Etiam quis purus vel turpis.
                    </li>
                    <li class="whatare-list__element">
                        Quisque feugiat orci at lorem maximus, sit amet vestibulum lacus iaculis. Nunc id metus nulla.
                    </li>
                </ul>
                <div class="what-are-buildpacks-element__imageset">
                    <img class="what-are-buildpacks-element__image" src="/v2/images/buildpack-equation.svg" alt="Buildpacks transform your source code into OCI images">
                </div>
            </div>
            <div class="what-are-buildpacks-element">
                <div class="body text--light">
                    Duis turpis risus, pulvinar sed ante eget, dignissim semper lectus. Donec volutpat neque risus, tincidunt.
                </div>
                <div class="what-are-buildpacks-element__imageset">
                    <div class="what-are-buildpacks-element__imageset__container">
                        <img class="what-are-buildpacks-element__logo-cloud" src="/v2/images/icon-cloud.svg" alt="Cloud platforms">
                    </div>
                    <div class="what-are-buildpacks-element__imageset__container">
                        <img class="what-are-buildpacks-element__logo-docker" src="/v2/images/docker-logo.svg" alt="Docker">
                    </div>
                    <div class="what-are-buildpacks-element__imageset__container">
                        <img class="what-are-buildpacks-element__logo-k8s" src="/v2/images/kubernetes-logo.svg" alt="Kubernetes">
                    </div>
                </div>
            </div>
            <div class="what-are-buildpacks-element">
                <div class="body text--light">
                    Cras accumsan iaculis elit, eget accumsan leo commodo nec. Nullam vitae sapien semper leo elementum.
                </div>
                <div class="what-are-buildpacks-element__imageset">
                    <div class="what-are-buildpacks-element__imageset__container">
                        <img class="what-are-buildpacks-element__logo-jenkins" src="/v2/images/jenkins-logo.png" alt="Jenkins">
                    </div>
                    <div>
                        <img class="what-are-buildpacks-element__logo-circleci" src="/v2/images/circleCI-logo.png" alt="CircleCI">
                    </div>
                    <div>
                        <img class="what-are-buildpacks-element__logo-azure-devops" src="/v2/images/azure-devops-logo.png" alt="Azure DevOps">
                    </div>
                </div>
            </div>
            <div class="what-are-buildpacks-element">
                <div class="body text--light">
                    Cras accumsan iaculis elit, eget accumsan leo commodo nec. Nullam vitae sapien semper leo elementum.
                </div>
            </div>
            </div>
        </section>
        <section class="homepage-section center-horizontal">
            <div class="section-content">
                <h2 class="text__section-header text--dark">Here's how it works</h2>
                <p class="text--dark body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae sem hendrerit, imperdiet magna vitae, pulvinar lorem.
                </p>
                    <div class="how-it-works-animation">
                        {{ partial "v2/how-it-works-animation.html" . }}
                    </div>
            </div>
        </section>
        <section class="homepage-section homepage-section--dark center-horizontal">
            <div class="section-content">
            <h2 class="text__section-header text--light text--shadow">Features</h2>
            <div class="feature">
                <div class="feature__tagline">
                    <div class="feature__tagline__icon-container">
                        <img class="width-100pct" src="/v2/images/icon-patch.svg" alt="A patch icon">
                    </div>
                    <h3 class="text--light">Nullam molestie elit id ex dictum, ut eleifend.</h3>
                </div>
                <div class="text--light text--500 body">
                    Suspendisse non maximus purus, eu tincidunt erat. Proin pretium neque et ipsum tempus vestibulum.
                </div>
            </div>
            <div class="feature">
                <div class="feature__tagline">
                    <div class="feature__tagline__icon-container">
                        <img class="height-100pct" src="/v2/images/icon-bolt.svg" alt="A lightning bolt icon">
                    </div>
                    <h3 class="text--light">Sed varius suscipit venenatis. Morbi venenatis gravida.</h3>
                </div>
                <div class="text--light text--500 body">
                    Nam ullamcorper felis arcu, non rutrum dolor sagittis et. Quisque mauris erat, sollicitudin ac.
                </div>
            </div>
            <div class="feature">
                <div class="feature__tagline">
                    <div class="feature__tagline__icon-container">
                        <img class="width-100pct" src="/v2/images/icon-magglass.svg" alt="A magnifying glass icon">
                    </div>
                    <h3 class="text--light">Integer hendrerit tellus eu tincidunt porttitor.</h3>
                </div>
                <div class="text--light text--500 body">
                    Donec non nisl scelerisque, pretium ex sit amet, suscipit velit.
                </div>
            </div>
            <div class="feature">
                <div class="feature__tagline">
                    <div class="feature__tagline__icon-container">
                        <img class="height-100pct" src="/v2/images/icon-vine.svg" alt="A vine icon">
                    </div>
                    <h3 class="text--light">Proin congue erat eu ex sodales.</h3>
                </div>
                <div class="text--light text--500 body">
                    Aliquam erat volutpat. Morbi ornare at leo id tristique. Donec.
                </div>
            </div>
            <div class="feature">
                <div class="feature__tagline">
                    <div class="feature__tagline__icon-container">
                        <img class="width-100pct" src="/v2/images/icon-sliders.svg" alt="A slider icon">
                    </div>
                    <h3 class="text--light">Donec mattis neque ut dui fringilla.</h3>
                </div>
                <div class="text--light text--500 body">
                    Curabitur vestibulum odio at ultricies pretium. Suspendisse venenatis dapibus purus.
                </div>
            </div>
            </div>
        </section>
        <section class="homepage-section homepage-section__contribute center-horizontal">
            <div class="section-content">
                <h2 class="text__section-header text--dark">Ready to contribute?</h2>
                <a class="text__homepage-link body" href="contribute/">
                    Check out R community page 2 learn more!!
                </a>
                <h2 class="text__section-header text--dark">About the Paketo project</h2>
                <p class="body text--dark paragraph">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed ante lobortis, fringilla est at, ullamcorper dui. Cras sed sapien.
                </p>
                <p class="body text--dark paragraph">
                    Vivamus aliquam varius nulla, at sodales lorem finibus a. Curabitur congue nisl nisi, at rutrum mauris dictum eu. Nulla faucibus aliquam purus et ullamcorper. Donec elementum faucibus ullamcorper. Fusce accumsan urna urna. Donec ante quam.
                </p>
            </div>
            <div class="center-horizontal"><a class="button text--shadow text--light" href="docs">Get Started</a></div>
        </section>
    </div>
    {{ partial "v2/footer.html" . }}
</body>
<script src="/js/plugins.js"></script>
<script src="/v2/js/homepage.js"></script>
</html>