<!doctype html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    {{ partial "header.html" (dict "headerTheme" "dark" "context" . ) }}
    <main>
        <section class="homepage-section homepage-section--dark">
            <div class="section-content">
                <div class="section-content text__tagline">
                    <h1 class="text__tagline__item text--light font--default text--shadow">Your app,<br />
                        in your favorite language,<br />
                        ready to run in the cloud
                    </h1>
                </div>
            </div>
        </section>
        <div class="homepage-content">
            <section class="homepage-section">
                <div class="languages">
                    {{ with .Site.Params.hero}}
                    {{ range .logos }}
                    {{ range .item }}
                    <a class="languages__item" href="docs/buildpacks/language-family-buildpacks/{{ .docs }}">
                        <img class="languages__logo {{ .css_class }}" src="/v2/images/{{ .img  }}" alt="{{ .alt }}">
                    </a>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </div>
                <a class="button text--shadow text--light" href="docs">Get Started</a>
            </section>
            <section class="homepage-section homepage-section--dark">
                <span class="background-layers">
                    <img class="background-layers__image" src="/v2/images/background-layers.svg">
                </span>
                <div class="section-content">
                    <h2 class="text__section-header text--light text--shadow">What are Paketo Buildpacks?</h2>
                    <div class="what-are-buildpacks-element">
                        <ul class="text--light list--disc">
                            <li class="list__element">
                                Buildpacks transform your application source code into container images
                            </li>
                            <li class="list__element">
                                The Paketo project provides production-ready buildpacks for the most popular languages
                                and frameworks
                            </li>
                            <li class="list__element">
                                Use Paketo Buildpacks to easily build your apps and keep them updated
                            </li>
                            <li class="list__element">
                                Learn more about <a href="https://buildpacks.io">buildpacks</a>
                            </li>
                        </ul>
                        <div class="what-are-buildpacks-element__imageset">
                            <img class="what-are-buildpacks-element__equation" src="/v2/images/buildpack-equation.svg"
                                alt="Buildpacks transform your source code into OCI images">
                        </div>
                    </div>
                    <div class="what-are-buildpacks-element">
                        <div class="text--light">
                            Paketo Buildpacks can run on any platform that supports container images, including Docker
                            and Kubernetes!
                        </div>
                        <div class="what-are-buildpacks-element__imageset">
                            <div class="what-are-buildpacks-element__image">
                                <div class="logo">
                                    <img class="logo__image" src="/v2/images/icon-cloud.svg" alt="Fluffy cloud icon" >
                                </div>
                            </div>
                            <div class="what-are-buildpacks-element__image">
                                <div class="logo">
                                    <img class="logo__image" src="/v2/images/logo-docker.svg" alt="Docker whale logo" >
                                </div>
                            </div>
                            <div class="what-are-buildpacks-element__image">
                                <div class="logo">
                                    <img class="logo__image" src="/v2/images/logo-kubernetes.svg" alt="Kubernetes">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="what-are-buildpacks-element">
                        <div class="text--light">
                            Compatible with CI/CD integrations around containers such as CircleCI, Gitlab, Tekton, and
                            much more!
                        </div>
                        <div class="what-are-buildpacks-element__imageset">
                            <div class="what-are-buildpacks-element__image">
                                <div class="logo">
                                    <img class="logo__image logo__image--circleCI"
                                    src="/v2/images/logo-circleCI.png" alt="CircleCI">
                                </div>
                            </div>
                            <div class="what-are-buildpacks-element__image">
                                <div class="logo">
                                    <img class="logo__image"
                                    src="/v2/images/logo-gitlab.svg" alt="Gitlab fox logo">
                                </div>
                            </div>
                            <div class="what-are-buildpacks-element__image">
                                <div class="logo">
                                    <img class="logo__image"
                                    src="/v2/images/logo-tekton.svg" alt="Tekton logo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="what-are-buildpacks-element">
                        <div class="text--light">
                            Paketo Buildpacks are leveraged by many application platforms and local development tools
                            including Hashicorp Waypoint, the Pack CLI, Spring Boot, Tilt, and VMware Tanzu Build
                            Service.
                        </div>
                        <div class="what-are-buildpacks-element__imageset">
                            <div class="what-are-buildpacks-element__image what-are-buildpacks-element__image--smaller">
                                <div class="logo">
                                    <img class="logo__image" src="/v2/images/logo-waypoint.svg" alt="Hashicorp Waypoint logo">
                                </div>
                            </div>
                            <div class="what-are-buildpacks-element__image what-are-buildpacks-element__image--smaller">
                                <div class="logo">
                                    <img class="logo__image" src="/v2/images/logo-buildpacks.svg" alt="Cloud Native Buildpacks logo">
                                </div>
                            </div>
                            <div class="what-are-buildpacks-element__image what-are-buildpacks-element__image--smaller">
                                <div class="logo">
                                    <img class="logo__image" src="/v2/images/logo-spring.svg" alt="Spring leaf logo">
                                </div>
                            </div>
                            <div class="what-are-buildpacks-element__image what-are-buildpacks-element__image--smaller">
                                <div class="logo logo--tilt">
                                    <img class="logo__image" src="/v2/images/logo-tilt.svg" alt="Tilt logo">
                                </div>
                            </div>
                            <div class="what-are-buildpacks-element__image what-are-buildpacks-element__image--smaller">
                                <div class="logo">
                                    <img class="logo__image" src="/v2/images/logo-tanzu-build-service.svg" alt="Tanzu Build Service logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="homepage-section">
                <div class="section-content">
                    <h2 class="text__section-header text--dark">Here's how it works</h2>
                    <p class="text--dark text--400">
                        Just bring your app and Paketo Buildpacks will detect what language your app is using,
                        gather the required dependencies, and build it into an image.
                    </p>
                    <div class="how-it-works-animation">
                        {{ partial "how-it-works-animation.html" . }}
                    </div>
                </div>
            </section>
            <section class="homepage-section homepage-section--dark">
                <div class="background-large-p">
                    <img class="background-large-p__image" src="/v2/images/background-large-p.svg">
                </div>
                <div class="section-content">
                    <h2 class="text__section-header text--light text--shadow">Features</h2>
                    <div class="feature">
                        <div class="feature__tagline">
                            <div class="feature__tagline__icon-container">
                                <img class="height-100pct" src="/v2/images/icon-bolt.svg" alt="A lightning bolt icon">
                            </div>
                            <h3 class="text--light">Fast rebuilds through built-in caching</h3>
                        </div>
                        <div class="text--light text--500">
                            Quickly rebuild your apps without advanced customization of your build tooling
                        </div>
                    </div>
                    <div class="feature">
                        <div class="feature__tagline">
                            <div class="feature__tagline__icon-container">
                                <img class="width-100pct" src="/v2/images/icon-sliders.svg" alt="A slider icon">
                            </div>
                            <h3 class="text--light">Easy customization</h3>
                        </div>
                        <div class="text--light text--500">
                            Paketo Buildpacks are modular and can easily be composed to suit your app’s needs.
                            If your use case isn’t supported yet, leverage our tooling to build a buildpack,
                            and contribute it to the community - or file a feature request :)
                        </div>
                    </div>
                    <div class="feature">
                        <div class="feature__tagline">
                            <div class="feature__tagline__icon-container">
                                <img class="width-100pct" src="/v2/images/icon-magglass.svg"
                                    alt="A magnifying glass icon">
                            </div>
                            <h3 class="text--light">Containers you can trust</h3>
                        </div>
                        <div class="text--light text--500">
                            Gain visibility into your software supply chain through an extensive bill of materials
                            provided by buildpacks
                        </div>
                    </div>
                    <div class="feature">
                        <div class="feature__tagline">
                            <div class="feature__tagline__icon-container">
                                <img class="width-100pct" src="/v2/images/icon-patch.svg" alt="A patch icon">
                            </div>
                            <h3 class="text--light">Patch OS-Level vulnerabilities, fast</h3>
                        </div>
                        <div class="text--light text--500">
                            With buildpacks in your CI you can patch the OS layer of your app images without
                            rebuilding your source code
                        </div>
                    </div>
                    <div class="feature">
                        <div class="feature__tagline">
                            <div class="feature__tagline__icon-container">
                                <img class="height-100pct" src="/v2/images/icon-vine.svg" alt="A vine icon">
                            </div>
                            <h3 class="text--light">Compliance and security that scales with your organization</h3>
                        </div>
                        <div class="text--light text--500">
                            With buildpacks, you have full control over the OSes, languages, and package management
                            your teams can use - no matter the size of your org
                        </div>
                    </div>
                </div>
            </section>
            <section class="homepage-section homepage-section--padded">
                <div class="section-content">
                    <h2 class="text__section-header text--dark">Ready to contribute?</h2>
                    <a class="text__homepage-link" href="contribute/">
                        Check out our community page to learn more!
                    </a>
                    <h3 class="text__section-header text--dark">About the Paketo project</h3>
                    <ul class="list--disc margin-bottom70">
                        <li class="text--dark list__element">
                            Our buildpacks are based on the learnings from years of building and maintaining buildpacks
                            for Cloud Foundry (for VMs). Paketo Buildpacks work great with Spring and are the
                            recommended way to build containers with Spring Boot
                        </li>
                        <li class="text--dark list__element">
                            Buildpacks power the productivity of tens of thousands of developers and operators daily
                        </li>
                        <li class="text--dark list__element">
                            Paketo is a community-driven project with active project maintainers and contributors that
                            are driving the long term success of Paketo
                        </li>
                        <li class="text--dark list__element">
                            Vendor-neutral governance through the Cloud Foundry Foundation
                        </li>
                    </ul>
                </div>
                <div class="center-horizontal"><a class="button text--shadow text--light" href="docs">Get Started</a>
                </div>
            </section>
        </div>
    </main>
    {{ partial "footer.html" . }}
</body>

</html>
