{{ $logoImage := "logo-paketo-light.svg" }}
{{ $textColor := "" }}
{{ $backgroundColor := "" }}
{{ if eq .headerTheme "light" }}
    {{ $logoImage = "logo-paketo-dark.svg" }}
    {{ $textColor = "text--dark" }}
    {{ $backgroundColor = "header--light" }}
{{ end }}
<header class="header {{ $backgroundColor }}">
    <a class="paketo-logo" href="/">
        <img class="paketo-logo__image" src="/v2/images/{{ $logoImage }}" alt="Paketo Buildpacks Homepage">
    </a>
    <div class="right-overlay">
        <div class="nav-opener">
            <span class="nav-opener__bar nav-opener__bar-top"></span>
            <span class="nav-opener__bar nav-opener__bar-middle"></span>
            <span class="nav-opener__bar nav-opener__bar-bottom"></span>
        </div>
        <div class="nav-container" id="nav-container">
            <nav class="nav" id="nav-tray" >
                <div class="nav__linkarea">
                    <a class="nav-link {{ $textColor }}" href="/docs">docs</a>
                    <a class="nav-link {{ $textColor }}" href="/contribute">community</a>
                    <a class="nav-link {{ $textColor }}" href="https://blog.paketo.io">blog</a>
                    <a class="nav-link {{ $textColor }}" href="https://github.com/paketo-buildpacks">github</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="desktop-nav">
        <a class="nav-link {{ $textColor }}" href="/docs">docs</a>
        <a class="nav-link {{ $textColor }}" href="/contribute">community</a>
        <a class="nav-link {{ $textColor }}" href="https://blog.paketo.io">blog</a>
        <a class="nav-link {{ $textColor }}" href="https://github.com/paketo-buildpacks">github</a>
    </div>
</header>