name: Deploy PR to Firebase

on:
  pull_request:
    types:
    - opened
    - synchronize

  workflow_dispatch:
    inputs:
      prNumber:
        description: 'Number of the PR to deploy'
        required: true

jobs:
  deploy-dev-pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@v2
      with:
        node-version: 16
        check-latest: true

    - uses: actions/checkout@v2.3.4
      with:
        submodules: false

    - name: Checkout PR
      if: github.event_name == 'workflow_dispatch'
      run: |
        gh pr checkout ${{ github.event.inputs.prNumber }}
      env:
        GITHUB_TOKEN: ${{ secrets.PAKETO_BOT_GITHUB_TOKEN }}

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.84.0'
        extended: true

    - name: Install node Modules
      run: npm install

    - name: Setup GCP Auth
      uses: google-github-actions/setup-gcloud@v0.2.1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Disable Crawling on staging site
      run: |
        printf "User-agent: *\nDissallow: /\n" > layouts/robots.txt

    - name: Build
      run: hugo

    - name: Switch Back to Original Branch  # Built contents in /public is unaffected
      if: github.event_name == 'workflow_dispatch'
      run: git checkout -

    - name: Deploy
      id: deploy
      uses: actions/github-script@v4
      with:
        script: |
            const deploy = require('./deploy.js')
            await deploy({ expires: '72h' })

    - name: Comment with Staging Link
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        message: |
          PR deployed to: ${{ steps.deploy.outputs.staging_url }}
          Expires at: ${{ steps.deploy.outputs.expiration }}
