name: Test Pull Request

on:
  pull_request:
    branches:
    - main

jobs:
  check-links:
    name: Check Links
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.4.0

    - uses: actions/setup-node@v3.0.0
      with:
        node-version: 16
        check-latest: true
        cache: 'npm'

    - name: Install node Modules
      run: npm install

    - name: Check For Internal Links without Shortcodes
      run: scripts/check-internal-links.sh

    - name: Check Links
      if: always()
      run: scripts/check-links.sh

  check-spelling:
    name: Check Spelling in Docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.4.0

    - name: Check Spelling in Content Dir
      run: scripts/check-spelling.sh
